<h1><%= @memo.title %></h1>
<hr/>
<h2>by <%= @memo.user.email %></h2>
<h3><%= icon 'time' %><%= local_time(@memo.created_at) %></h3>
<%# TODO: 로그인한 사람이 글 작성자면 활성화 %>
  <%= icon 'pencil' %><%= link_to '수정하기', edit_memo_path(@memo) %> | 
  <%= icon 'trash' %><%= link_to '삭제하기', memo_path(@memo), method: :delete %>
<hr/>
    <%= @memo.content.html_safe %>
<hr/>

<div class="well">
  <%= bootstrap_form_for @comment, url: memo_comments_path(@memo) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :memo_id, value: @memo.id %>
    <%= f.text_field :content, label: 'Leave a comment!' %>
    <%= f.submit %>
  <% end %>
  <%# TODO: 댓글작성 완성하기 %>
</div>
<hr/>
<% @comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <strong><%= comment.user.email %></strong>
        <%= icon 'time' %>
        <small><%= local_time(comment.created_at) %></small>
        <%= link_to icon ('trash'), memo_comment_path(@memo, comment), method: :delete %>\
        <%# TODO: 댓글 보여주기 완성하기 %>
      </h4>
      <%= comment.content %>
    </div>
  </div>
  <hr/>
<% end %>
