<h1><%= @memo.title %></h1>
<hr/>
<h2>by <%= @memo.user.email %></h2>
<h3><%= icon 'time' %><%= local_time(@memo.created_at) %></h3>
<%# TODO: 로그인한 사람이 글 작성자면 활성화 %>
  <%= icon 'pencil' %><%= link_to '수정하기', edit_memo_path(@memo) %> | 
  <%= icon 'trash' %><%= link_to '삭제하기', memo_path(@memo), method: :delete %>
<hr/>
    <%= @memo.content.html_safe %>
<hr/>

<div class="well">
    댓글 작성 창
    <%# TODO: 댓글작성 완성하기 %>
</div>
<hr/>
<div>
    <%# TODO: 댓글 보여주기 완성하기 %>
</div>